{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>Vous etes déjà connecté monsieur :{{app.user}} </div>
    {% else %}
        <form class="form-control" action="{{ path('app_login') }}" method="post">
        <label class="form-label" for="username">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>

        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password" required>

        <input class="form-control" type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

        <button class="form-control" type="submit">login</button>
    </form>
    {% endif %}
{% endblock %}
