{{ form_start(form) }}
    <input
        name="{{ nom(form.nom) }}"
        value="{{ nom(form.nom) }}"
        placeholder="{{ nom(form.nom) }}"
        class="form-control"
    >
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
